/* Global styles */
* {
    background-color: #ffffff44;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Poppins;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    overflow-y: hidden;
}

html.dark-mode {
    background-color: #00000044 !important;
    text-align: center;
    font-family: Poppins;
}

.dark-mode {
    color: rgb(255, 255, 255);
}

body * {
    background-color: transparent;
}

body {
    background-color: transparent;
}

img {
    background-color: transparent !important;
    /* Ensures no background color on images */
    width: 32px;
    height: 32px;
    margin: 1%;
}

.clock {
    background-color: transparent !important;
    font-size: 200%;
}

.weather {
    background-color: transparent !important;
    font-size: 200%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 4%;
    vertical-align: center;
}

.weather p {
    background-color: transparent !important;
    /* Ensures no background color for weather text */
    margin: 0 2%;
}

.date {
    background-color: transparent !important;
    vertical-align: center;
    font-size: 100%;
}

img.small {
    background-color: transparent !important;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* Date-small styles */
#date-small {
    background-color: transparent !important;
    /* Ensures no background color for date */
    font-size: 200%;
    color: #15139c;
}

#date-small.dark-mode {
    background-color: transparent !important;
    color: rgb(181, 54, 54);
}

/* Small clock body */
body.clock-small {
    background-color: transparent !important;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    font-family: Poppins;
    font-size: 125%;
    font-weight: 600;
    color: #000000;
    margin: 0;
    flex-direction: column;
}

span#hours.dark-mode {
    background-color: transparent !important;
}

span#hours {
    background-color: transparent !important;
}

span#minutes.dark-mode {
    background-color: transparent !important;
}

span#minutes {
    background-color: transparent !important;
}

#timeWidget {
    background-color: transparent !important;
}

#weekday {
    background-color: transparent !important;
}

#dateText {
    background-color: transparent !important;
}

/* Dark mode small clock body */
body.clock-small.dark-mode {
    background-color: transparent !important;
    color: #fff;
}

/* Big Weather widget */
.big-weather {
    background-color: transparent !important;
    font-size: 140%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: left;
    margin: 0;
    padding: 4%;
    vertical-align: center;
    margin-bottom: 0;
}

h1.big-weather {
    background-color: transparent !important;
    padding: 0;
    color: #15139c;
}

h1.big-weather.dark-mode {
    background-color: transparent !important;
    color: rgb(181, 54, 54);
}

p.big-weather {
    background-color: transparent !important;
    padding: 0;
    font-size: 75%;
}

body {
    background-color: transparent !important;
}

body.dark-mode {
    background-color: transparent !important;
}

span.small {
    padding: 0;
    margin: 0;
    font-size: 65%;
}

.no_spacing {
    padding: 0;
    margin: 0;
}

a.hidden {
    color: white;
}

a.hidden:visited {
    color: white;
}